* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #493a16;
    font-family: "VT323", "Pixelify Sans", serif;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 15px;
    color: #fdedce;
    font-size: 100px;
    text-shadow: 6px 6px 0 #211a09;
}

#estatisticaTable {
    border-collapse: collapse;
    font-family: "VT323", "Pixelify Sans", serif;
    font-size: 28px;
    width: 100%;
    max-width: 35%;
    background-color: #ab925c;
    border: 5px solid #33270e;
    box-shadow: 7px 7px 0 #211a09;
}

#estatisticaTable th,
#estatisticaTable td {
    padding: 8px 15px;
    border: 2px dashed #6c572f;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#estatisticaTable th {
    width: 55%;
    background-color: #6c572f;
    border: 2px dashed #ab925c;
    color: #fdedce;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 0 #33270e;
}

#estatisticaTable td {
    width: 45%;
    color: #33270e;
    text-align: center;
}

#estatisticaTable tr:nth-child(even) {
    background-color: #9b824f;
}

#estatisticaTable tr:hover {
    background-color: #bca46d;
}

#menu-button {
    margin-top: 25px;
    padding: 10px 30px;

    background-color: #6c572f;
    color: #fdedce;

    border: 4px solid #33270e;
    box-shadow: 5px 5px 0 #211a09;

    font-family: inherit;
    font-size: 32px;

    cursor: pointer;
}

#menu-button:hover {
    background-color: #80683a;
}

#menu-button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}